{% extends 'user/common/layout.html' %}
{% block content %}

<!-- Page Title -->
<section class="page-title">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Change Password</h3>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>
<!-- Page Title End -->

<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border border">
          <!-- <h3 class="bg-gray p-4">Change Password</h3> -->
          <form method="post" action="/user/changepass_update">
            {% csrf_token %}
            <fieldset class="p-4">
              <input class="form-control mb-3" type="password"  name="old_password" placeholder="Old Password*" required>
              <input class="form-control mb-3" type="password" name="new_password" placeholder="New Password*" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*?[!@#$%^&*]).{8,}">
              <input class="form-control mb-3" type="password" name="rnew_password" placeholder="Confirm Password*" required>
              {% if messages %}
              <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              
              <button type="submit" class="btn btn-primary font-weight-bold mt-3">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}