{% extends 'user/common/layout.html' %}
{% block content %}
<script>
  function data(){
  var j=document.getElementById("rating").value;
   if(j=="")
   {
    alert("please select rating")
    return false;
   }
   else{
    return true;
   }
  }
</script>
<!-- Page Title -->
<section class="page-title">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Feedback</h3>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>
<!-- Page Title End -->

<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- User Widget -->
          <div class="widget user">
            <!-- User Image -->
            <div class="image d-flex justify-content-center">
              <img src="/media/upload/{{result.user_image}}" alt="" class="">
            </div>
            <!-- User Name -->
            <h5 class="text-center">{{result.user.first_name}} {{result.user.last_name}}</h5>
            <div class="text-center">
              <a href="/user/user_edit_profile" class="btn btn-main-sm">Edit Profile</a>
            </div> 
          </div>
          <!-- Dashboard Links -->
          <div class="widget user-dashboard-menu">
            <ul>
              <li class="active">
                <a href="/user/all_requests"><i class="fa fa-user"></i>All Posts</a></li>
              <li>
                <a href="/user/post_problem"><i class="fa fa-bookmark-o"></i>Add Post</a>
              </li>
              <li>
                <a href="/user/changepass"><i class="fa fa-file-archive-o"></i>Change Password</a>
              </li>
              <li>
                <a href="/user/logout"><i class="fa fa-cog"></i> Logout</a>
              </li>
              <!-- <li>
                <a href="#!" data-toggle="modal" data-target="#deleteaccount"><i class="fa fa-power-off"></i>Delete Account</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 align-item-center">
        <div class="border border">
          <h3 class="bg-gray p-4 text-center">Rating</h3>
          <form method="post" onsubmit="return data()" action="/user/feedback_store">
            {% csrf_token %}
            <fieldset class="p-4">
              
              
              <div class="form-group">
                <label for="exampleInputFile">Rating</label>
                  <select class="form-control mb-3" name="rating" id="rating">
                    <option value="" selected>Rating</option>
                    <option value="*">*</option>
                    <option value="**">**</option>   
                    <option value="***">***</option>   
                    <option value="****">****</option>   
                    <option value="*****">*****</option>   
                  </select>
              </div>
              <textarea name="comment" id="comment" class="form-control mb-3 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" rows="3" placeholder="Comment*" required></textarea>
              <button type="submit" class="btn btn-primary font-weight-bold mt-3">Submit</button>
              {% if messages %}
              <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
              </ul>
              {% endif %}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}