{% extends 'user/common/layout.html' %}
{% block content %}
<script>
  function data(){
  var a=document.getElementById("rd1");
  var b=document.getElementById("rd2"); 
   if(a.checked==false && b.checked==false){
    alert("please select gender")
    return false;
   }
   else{
    return true;
   }
  }
</script>
<section class="page-title">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Edit Profile</h3>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>

<section class="user-profile section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- User Widget -->
          <div class="widget user">
            <!-- User Image -->
            <div class="image d-flex justify-content-center">
              <img src="/media/upload/{{result.user_image}}" alt="" class="">
            </div>
            <!-- User Name -->
            <h5 class="text-center">{{result.user.first_name}} {{result.user.last_name}}</h5>
          </div>
          <!-- Dashboard Links -->
          <div class="widget user-dashboard-menu">
            <ul>
              <li><a href="/user/post_problem">Add Post</a></li>
              <li><a href="/user/all_requests">My Posts</a></li>
              <li><a href="/user/changepass">Change Password</a></li>
              <li><a href="/user/logout"><i class="fa fa-cog"></i>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <!-- Edit Personal Info -->
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="widget personal-info">
              <h3 class="widget-header user">Edit Personal Information</h3>
              <form method="post" onsubmit="return data()" action="/user/user_update/{{result.id}}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="p-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label for="exampleInputFile">First Name*</label>
                    <input class="form-control mb-3" type="text" name="fname" id="fname" value="{{result.user.first_name}}" placeholder="First Name*" required pattern="[A-Za-z]{2,32}">
                  </div>
                  <div class="col-lg-6">
                    <label for="exampleInputFile">Last Name*</label>
                    <input class="form-control mb-3" type="text" name="lname" id="lname" value="{{result.user.last_name}}" placeholder="Last Name*" required pattern="[A-Za-z]{2,32}">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label for="exampleInputFile">User Name*</label>
                    <input class="form-control mb-3" type="text" name="uname" id="uname" value="{{result.user.username}}" placeholder="Username*" required pattern="[A-Za-z0-9]{2,32}">
                  </div>
                  <div class="col-lg-6">
                    <label for="exampleInputFile">Email*</label>
                    <input class="form-control mb-3" type="email" name="email" id="email" value="{{result.user.email}}" placeholder="Email*" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label for="exampleInputFile">Contact*</label>      
                    <input class="form-control mb-3" ng-model="model.number" name="contact" id="contact" pattern="[0-9]{10}" value="{{result.contact}}" type="phone" placeholder="Contact*" required>
                  </div>
                  <div class="col-lg-6">
                    <label for="exampleInputFile">Address*</label> 
                    <textarea name="address" id="address" class="form-control mb-3 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" rows="3" placeholder="Address*" required>{{result.address}}</textarea>
                  </div>                  
                </div>               
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <label for="exampleInputFile">Gender*</label>
                    <div class="form-group form-control">
                      <label class="control-label normal p-2">Gender :  </label>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="rd1" value="male" {% if result.gender == 'male' %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="rd2" value="female" {% if result.gender == 'female' %} checked {% endif %}>
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                      </div>
                    </div>                  
                  </div>
                  <div class="col-lg-6">
                    <label for="exampleInputFile">DOB*</label>
                    <div class="form-group form-control">
                      <label class="control-label normal p-2">Date of Birth :</label>
                      <input type="date" name="dob" id="dob" value="{{result.date_of_birth|date:'Y-m-d'}}" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required>
                    </div>                   
                  </div>               
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label for="exampleInputFile">City*</label>
                    <select class="form-control mb-3" name="cityname" id="cityname" required>
                      <option value="Select a city" selected>Select a City</option>

                      {% for cy in cities %}
                      <option value="{{cy.id}}"{% if result.city_id == cy.id %} selected {% endif %}>{{cy.city_name}}</option>
                      {% endfor %}   
                    </select>                    
                  </div>
                  <div class="col-lg-6">
                    <label for="exampleInputFile">Area*</label>
                    <select class="form-control mb-3" name="areaname" id="areaname" required>
                      <option value="Select a Area" selected>Select a Area</option>

                      {% for a in areas %}
                      <option value="{{a.id}}" {% if result.area.id == a.id %} selected {% endif %}>{{a.area_name}}</option>
                      {% endfor %}   
                    </select>                  
                  </div> 
                </div>
              </div>
              
              
              <div class="form-group">
                <label for="exampleInputFile">Your Image*</label>
                <input class="form-control p-2" type="file" name="uimg" id="uimg" required>
              </div>
              <!-- <div class="loggedin-forgot d-inline-flex my-3">
                <input type="checkbox" id="registering" class="mt-1">
                <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
              </div> -->
              <button type="submit" class="btn btn-primary font-weight-bold mt-3">Update</button>
            </fieldset>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}