{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Report</title>
    <style>
        h1 {
          text-align: center;
          font-size: 24px;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
      <h1 style="text-decoration: underline;">List of Customers</h1>
      <h3>Report Created On : {{current_date}}</h3>
      <table border="1" align="center" cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          
            <th>Contact</th>
            <th>Address</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for person in data %}
            <tr>
              <td>{{ person.id }} </td>
              <td>{{ person.user.username }} </td>
              <td>{{ person.user.email }} </td>
             
              <td>{{ person.contact }}</td>
              <td>{{ person.address }}</td>
              <td>{{ person.date }}</td>
            </tr>
          {% endfor %}    
        </tbody>
      </table>
</body>
</html>