{% extends 'myadmin/common/layout.html' %}
{% load static %}

{% block title %} Area {% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Edit Area</h4>
            <form class="forms-sample" novalidate="novalidate" ng-submit="submit()" method="post" action="/myadmin/update_area/{{result.id}}">
              {% csrf_token %}
              <div class="form-group">
                <label>Area Name</label>
                <input type="text" name="area" id="area" class="form-control" ng-model="model.name" required="" value="{{result.area_name}}">
              </div>
              <div class="form-group">
                <label for="exampleSelectGender">Select City</label>
                <select name="cityname" id="cityname" class="form-control" ng-model="model.select" required=""><option value="? undefined:undefined ?"></option>
                    <option value="">-- Select City --</option>
                    {% for cy in cities %}
                    <option value="{{cy.id}}" {%if result.city_id == cy.id %} selected {%endif %}>{{cy.city_name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Update</button>
                  <button type="cancel" class="btn btn-default">cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}