{% extends 'myadmin/common/layout.html' %}
{% load static %}

{% block title %} Sub Catagories {% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Edit Sub category</h4>
            <form class="forms-sample" novalidate="novalidate" ng-submit="submit()" method="post" action="/myadmin/update_sub_category/{{result.id}}">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputName1">Sub category Name</label>
                <input type="text" name="subcategory" id="subcategory" class="form-control" ng-model="model.name" required="" value="{{result.sub_category_name}}">
              </div>
              <div class="form-group">
                <label for="exampleSelectGender">Select category</label>
                <select name="categoryname" id="categoryname" class="form-control" ng-model="model.select" required=""><option value="? undefined:undefined ?">
                    <option value="Select a category">-- Select Category --</option>
                    {% for c in categories %}
                    <option value="{{c.id}}" {% if result.category_id == c.id %} selected {% endif %}>{{c.category_name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Update</button>
                  <button type="cancel" class="btn btn-default">cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}