{% load static %}

<footer class="footer section section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
				<!-- About -->
				<div class="block about">
					<!-- footer logo -->
					<img src="{% static 'user/images/town-taskers-high-resolution-logo-white-transparent.png' %}" height="auto" width="100%" alt="logo">
					<!-- description -->
					<p class="alt-color" style="text-align: justify;">Town Taskers is a web application that provides multiple service like electrician, plumber, etc. In this Web application we provides expert working proffessionals. Town Taskers provides best services at doorstep.</p>
				</div>
			</div>
			<!-- Link list -->
			<div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
				<div class="block">
					<h4>Site Pages</h4>
					<ul>
						{% if request.user.is_authenticated %}
						<li><a href="/user/about">About us</a></li>
						<li><a href="/workers/worker_edit_profile">Edit Profile</a></li>
						{% else %}
						<li><a href="/user/about">About us</a></li>
						<li><a href="/user/contact">Contact Us</a></li>
						{% endif %}

					</ul>
				</div>
			</div>
			<!-- Link list -->
			<div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
				<div class="block">
					<h4>Pages</h4>
					<ul>
						{% if request.user.is_authenticated %}
						<li><a href="/workers/user_request">User Requests</a></li>
						<!-- <li><a href="/user/all_requests"></a></li> -->
						<!-- <li><a href="/user/history"></a></li> -->
						<li><a href="/user/changepass">Change Password</a>
						</li>
						{% endif %}



					</ul>
				</div>
			</div>
			<!-- Promotion -->
			<div class="col-lg-4 col-md-7">
				<!-- App promotion -->
				<div class="block-2 app-promotion">
					<div class="mobile d-flex  align-items-center">
						<a href="index.html">
							<!-- Icon -->
							<img src="{% static 'user/images/footer/phone-icon.png' %}" alt="mobile-icon">
						</a>
						<p class="mb-0">Get the Dealsy Mobile App and Save more</p>
					</div>
					<div class="download-btn d-flex my-3">
						<a href="index.html"><img src="images/apps/google-play-store.png" class="img-fluid" alt=""></a>
						<a href="index.html" class=" ml-3"><img src="images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
				<!-- Copyright -->
				<div class="copyright">
					<p>Copyright &copy; <script>
						var CurrentYear = new Date().getFullYear()
						document.write(CurrentYear)
					</script>. Designed & Developed by Town Taskers</p>
				</div>
			</div>
			<!-- <div class="col-lg-6">
				<ul class="social-media-icons text-center text-lg-right">
					<li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher"></a></li>
					<li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher"></a></li>
					<li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher"></a></li>
					<li><a class="fa fa-github-alt" href="https://www.github.com/themefisher"></a></li>
				</ul>
			</div> -->
		</div>
	</div>
	<!-- Container End -->
	<!-- To Top -->
	<div class="scroll-top-to">
		<i class="fa fa-angle-up"></i>
	</div>
</footer>