{% load static %}

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-expand-lg navbar-light navigation">
						<a class="navbar-brand" href="index.html">
							<img src="{% static 'user/images/tt-logo-big.svg' %}" height="60" width="200" alt="">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item ">
								<a class="nav-link" href="/workers/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/workers/about">About Us</a>
							</li>
							{% if request.user.is_authenticated %}
							<!-- <li class="nav-item">
								<a class="nav-link" href="/user/feedback">Feedback</a>
							</li> -->
							<li class="nav-item dropdown dropdown-slide @@dashboard">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!">Applications<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<ul class="dropdown-menu">
									<li><a class="dropdown-item @@dashboardPage" href="/workers/user_request">User Request</a></li>
									<!-- <li><a class="dropdown-item @@dashboardMyAds" href="/user/all_requests">All Post</a></li> -->
								</ul>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link" href="/workers/contact">Contact Us</a>
							</li>
							{% endif %}
							
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							{% if request.user.is_authenticated %}
							<li class="nav-item dropdown dropdown-slide @@dashboard">
								<a class="nav-link dropdown-toggle login-button" data-toggle="dropdown" href="#!">Settings
								</a>

								<!-- Dropdown list -->
								<ul class="dropdown-menu">
									<li><a class="dropdown-item registeruser" href="/workers/worker_edit_profile">Edit Profile</a></li>
									<li><a class="dropdown-item registerworker" href="/user/changepass">Change Password</a></li>
									<li><a class="dropdown-item registerworker" href="/workers/logout">Logout</a></li>
								</ul>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link login-button" href="/workers/login">Login</a>
							</li>
							<li class="nav-item dropdown dropdown-slide @@dashboard">
								<a class="nav-link dropdown-toggle login-button" data-toggle="dropdown" href="#!">Register
								</a>

								<!-- Dropdown list -->
								<ul class="dropdown-menu">
									<li><a class="dropdown-item registeruser" href="/user/user_register">As User</a></li>
									<li><a class="dropdown-item registerworker" href="/workers/worker_register">As Worker</a></li>
								</ul>
							</li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>